# docker-compose.yml
services:
  frontend:
    build: ./frontend
    container_name: nextjs_frontend
    ports:
      - "7000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: node_backend
    ports:
      - "8081:8081"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/uploads:/app/uploads  # Persist uploads folder
