version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: nextjs_frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
#    depends_on:
#      - backend

#  backend:
#    build: ./backend
#    container_name: node_backend
#    ports:
#      - "5001:5001"
#    env_file:
#      - ./backend/.env
      
